includes:
    - services.neon
    - security.neon

parameters:
    appName: SnapFix

application:
    errorPresenter: Front:Error
    mapping:
        *: App\Modules\*\Presenters\*Presenter

services:
    router: App\Core\RouterFactory::createRouter
    - App\Model\Database\DatabaseService
