includes:
    - services.neon
    - security.neon

parameters:
    appName: OSSP MOP

application:
    errorPresenter: Front:Error
    mapping:
        *: App\Modules\*\Presenters\*Presenter

services:
    router: App\Core\RouterFactory::createRouter
    - App\Model\Database\DatabaseService

database:
    dsn: 'mysql:host=database;dbname=app;charset=utf8mb4'
    user: app
    password: app
    options:
        lazy: true
